# Dependencies
node_modules/

# Build / coverage outputs
dist/
build/
coverage/

# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/